@baseBackGroundColor: #ffffff;
@baseFontColor: #333333;
@activeFontColor: #a38a7d;
@hoverFontColor: #996045;
@deepBackGroundColor: #3c3d46;
@lighterBackGroundColor: #515460;
@backGround: #f0f0f0;

@notificationDefaultBackGround: #ffffff;
@notificationDefaultColor: #333333;
@notificationDefaultIconColor: #707070;
@notificationDefaultCloseColor: #707070;

@notificationPrimaryBackGround: #00bcd4;
@notificationPrimaryColor: #ffffff;
@notificationPrimaryIconColor: #ffffff;
@notificationPrimaryCloseColor: #ffffff;

@notificationErrorBackGround: #d9534f;
@notificationErrorColor: #ffffff;
@notificationErrorIconColor: #ffffff;
@notificationErrorCloseColor: #ffffff;

@notificationSuccessBackGround: #5cb85c;
@notificationSuccessColor: #ffffff;
@notificationSuccessIconColor: #ffffff;
@notificationSuccessCloseColor: #ffffff;

@notificationDangerBackGround: rgb(240, 173, 78);
@notificationDangerColor: #4c421a;
@notificationDangerIconColor: #6b5d26;
@notificationDangerCloseColor: #4c421a;

@buttonDefaultBGColor: #ffffff;
@buttonDefaultColor: #333333;
@buttonDefaultHoverBGColor: rgba(0, 0, 0, 0.08);
@buttonDefaultActiveBGColor: rgba(0, 0, 0, 0.14);
@buttonPrimaryBGColor: #00bcd4;
@buttonPrimaryColor: #ffffff;
@buttonErrorBGColor: #d9534f;
@buttonErrorColor: #ffffff;
@buttonSuccessBGColor: rgb(92, 184, 92);
@buttonSuccessColor: #ffffff;
@buttonDangerBGColor: rgb(240, 173, 78);
@buttonDangerColor: #ffffff;
@buttonDisableBGColor: rgb(229, 229, 229);
@buttonDisableColor: rgba(0, 0, 0, 0.3);

@screen-sm-min: 768px;
@screen-md-min: 992px;
@screen-lg-min: 1200px;
@navigationWidth: 180px;
@headpieceHeight: 80px;
@navActiveColor: #00bcd4;





